{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ЭКГ</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
{% include 'navbar.html' %}
{% if request.user.is_authenticated %}
{% block main_content %}{% endblock %}
{% else %}
{% block login_user %}{% endblock %}
{% endif %}
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>